.texto-menor{
    font-size: 13px;
}

.div-facilidades{
    width: 325px;
}

.div-facilidades i, h3{
    color: #DAFF01;
}

.produtos-bombando div a, .novidades div button{
    border-color: #9353ff;
    background-color: #9353ff;
    color: white;
}